/* some custom css for slides

/* Two-column layout */
      .left-column {
        width: 40%;
        height: 92%;
        float: left;
        margin-top: 1em;
        color: black;
      }
      
      .right-column {
        width: 55%;
        float: right;
        margin-top: -75px;
        color: black;
      }

a {
  color: #272822;
  background-color: white;
}

.title-slide {
  background-image: url(https://media.giphy.com/media/ko7twHhomhk8E/giphy.gif);
  background-size: cover;
}


